*{
    background-color: gray;
    font-style:oblique
}
h1{
    color: aqua;
}
h2{
    color: bisque; font-size: 25px;
}
#li{
    color: purple;
}
.p2{
    color: brown;
}
.p3, .p4{
    color: blueviolet;
}
ol li{
    color: blanchedalmond;
}
[href^="https"]{
    color: black;
}
#kilin{
    color: gold;
}